.custom-form input[type="text"],
.custom-form input[type="number"],
.custom-form input[type="file"],
.custom-form .form-check-input {
  /* Cambia el color del borde de los campos de texto, número, archivo y checkbox */
  border-color: violet;
}
#descripcion{
  /* Cambia el color del borde de los campos de texto, número, archivo y checkbox */
  border-color: violet;
}
#tipo{
  /* Cambia el color del borde de los campos de texto, número, archivo y checkbox */
  border-color: violet;
}

.custom-form .form-check-input:checked {
  /* Cambia el color del checkbox cuando está seleccionado */
  background-color: violet;
}

.custom-form .btn-primary {
  /* Cambia el color de fondo del botón de envío */
  background-color: violet;
  /* Cambia el color del texto del botón de envío */
  color: white;
}

.custom-form .btn-primary:hover {
  /* Cambia el color de fondo del botón de envío cuando se pasa el cursor */
  background-color: darkviolet;
}

.imagen-form{
  text-align: center;
}