/* Estilos CSS en adoptarAnimalPage.css */
.adopciones-cards {
    display: flex;
    gap: 60px;
    margin: 30px;
    font-family: 'Nunito', sans-serif;
    color: #384047;
    flex-wrap: wrap;

}

.adopciones-card-info h4 {
    color: indigo;
    font-size: 30px;
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    padding-right: 30px ;
}  

.adopciones-card-info p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;

}

