body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    line-height: 35px;
}

header {
    background-color: rgb(200, 250, 135);
}

header h1 {
    color: rgb(0, 0, 0);
    font-family: 'Press Start 2P', cursive;
    font-size: 50px;
    font-weight: 100;
    font-style: oblique;
    display: inline-block;
    position: relative;
    bottom: 20px;
    margin-left: 150px;
}

nav {
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    flex-grow: 1;
}

nav ul li a {
    color: black;
    padding: 3px 6px;
    display: block;
    text-align: center;
}

nav ul li a.activo {
    background-color: #aff50c;
    border-radius: 50%;

}

nav ul li a:hover {
    background-color: #aff50c;
    border-radius: 50%;

}

footer {
    background-color: rgba(58, 68, 68, 0.288);
    clear: both;
    color: #333;
    text-align: center;
    margin-top: 10%;
}

.holder {
    max-width: 960px;
    margin: 0 auto;
    font-family: 'Nunito', sans-serif;
    color: #384047;
}


.contacto {
    max-width: 500px;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
    
}

h1 {
    padding-left: 16px;
    text-align: left;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
textarea,
select {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #000000;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 0 4px 8px 0;
}
form{
    display: block;
}
select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
}

button {
    padding: 19px 39px 18px 39px;
    color: #000000;
    background-color: rgb(200, 250, 135);
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 20px;
    width: 100%;
    border: 1px solid #000000;
    margin-bottom: 10px;
}

fieldset {
    margin-top: 0px;
    margin-bottom: 10px;
    border: none;
}

legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 8px;
    margin-top: 32;
}

label.light {
    font-weight: 300;
    display: inline;
}

.number {
    background-color: #5fcf80;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    border-radius: 100%;
}

optgroup {
    color: rgb(255, 0, 255);
}

optgroup option {
    color: black;
}

.redes{
    padding-left: 80px;
    padding-top: 7px;
}

.container {   
    display: flex;
}
img {
    display: inline-block; 
    margin-right: 10px; 
}

.imagen{
    padding-left: 16px;
    justify-content: center;
}

